pyTelegramBotAPI
requests
httpx
colorama
beautifulsoup4
aiohttp
pycountry
python-telegram-bot==21.5
# Leak by @SenseiNoir
# Channel: https://t.me/SenseiFall
urllib3
fake-useragent
tqdm
telethon
pysocks
